<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="png" href="/assets/images/head_logo.png">
    <title>Administrator | Drug Types</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <script src="/assets/jquery.min.js"></script>
    <script src = "/assets/bootstrap3.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
<%- include('../includes/admin-navbar.ejs') %>
    <h2 class="text-center">
        Drug Types
    </h2>
        <div class="container well">
            <div class="text-center">
                <form action="/system_admin/drug_type/add" method="get">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add New Drug Type</button>
                </form>
            </div>
        <hr>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <th>Drug Type ID</th>
                    <th>Drug Type Name</th>
                    <th>Update Info</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% for (let drugType of drugTypes) { %>
                        <tr>
                            <td>
                                <%=drugType.drug_type_id%>
                            </td>
                            <td>
                                <%=drugType.drug_type_name%>
                            </td>
                            <td class="text-center">
                                <form
                                    action="/system_admin/drug_type/update/<%=drugType.drug_type_id%>/<%=drugType.drug_type_name%>"
                                    method="get">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i> Update
                                    </button>
                                </form>
                            </td>
                            <td class="text-center">
                                <form action="/system_admin/drug_type/delete/<%=drugType.drug_type_id%>" method="get">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>

</body>

</html>
