<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="png" href="/assets/images/head_logo.png">
    <title>Administrator | Branded Drugs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <script src="/assets/jquery.min.js"></script>
    <script src = "/assets/bootstrap3.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
<%- include('../includes/admin-navbar.ejs') %>
    <h2 class="text-center">
        Branded Drugs
    </h2>

        <div class="container well">
            <div class="text-center">
                <form action="/system_admin/drug/add" method="get">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add New Branded Drug</button>
                </form>
            </div>
            <hr>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <th>Branded Drug ID</th>
                    <th>Brand Name</th>
                    <th>Manufacturer</th>
                    <th>Drug Type</th>
                    <th>Update Info</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% for (let drug of drugs) { %>
                        <tr>
                            <td>
                                <%=drug.branded_drug_id%>
                            </td>
                            <td>
                                <%=drug.brand_name%>
                            </td>
                            <td>
                                <%=drug.manufacturer%>
                            </td>

                            <td class="text-center">
                                <a href="/system_admin/drug_type/view/<%=drug.drug_type_id%>">View</a>
                            </td>
                            <td class="text-center">
                                <form
                                    action="/system_admin/drug/update/<%=drug.branded_drug_id%>/<%=drug.brand_name%>/<%=drug.manufacturer%>/<%=drug.drug_type_id%>"
                                    method="get">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i> Update
                                    </button>
                                </form>
                            </td>
                            <td class="text-center">
                                <form action="/system_admin/drug/delete/<%=drug.branded_drug_id%>" method="get">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>


</body>

</html>
