<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <script src="/assets/jquery.min.js"></script>
    <script src = "/assets/bootstrap3.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Update Branded Drug Form</title>
</head>

<body>
<%- include('../includes/admin-navbar.ejs') %>
<div class="col-md-8 col-md-offset-2 well formUnderNav">
    <h2 class="text-center">Update Branded Drug</h2>
    <hr>
    <!-- TODO: notify update successful/fail and redirect to all drugs -->
    <form method="POST" action="/system_admin/drug/update">
        <div class="form-group col-md-6">
            <label for="branded_drug_id">Branded Drug ID </label>
            <input type="text" class="form-control" id="branded_drug_id" name="branded_drug_id" value="<%=drug.branded_drug_id%>" required readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="brand_name">Brand Name </label>
            <input type="text" class="form-control" id="brand_name" name="brand_name" value="<%=drug.brand_name%>" required>
        </div>
        <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer </label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="<%=drug.manufacturer%>" required>
        </div>
        <!-- TODO: implement a database search to select drug type -->
        <div class="form-group col-md-6">
            <label for="drug_type_id">Drug Type </label>
            <select type="text" class="form-control" id="drug_type_id" name="drug_type_id" required>
                <% for (let drugType of drugTypes) { %>
                <option value="<%=drugType.drug_type_id%>">
                    <%=drugType.drug_type_name%>
                </option>
                <%}%>
            </select>
        </div>
        <div class="col-md-12 text-right">
            <a href="/system_admin/drug" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    <div class="col-md-12 text-center">
        <hr>
        <form action="/system_admin/drug_type/add" method="get">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add New Drug Type</button>
        </form>

    </div>

</div>


</body>

</html>