<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Branded Drug Form</title>
</head>

<body>
    <!-- TODO: notify update successful/fail and redirect to all drugs -->
    <form method="POST" action="/system_admin/drug/update">

        Branded Drug ID: <input type="text" id="branded_drug_id" name="branded_drug_id"
            value="<%=drug.branded_drug_id%>" required readonly>
        <br>

        Brand Name: <input type="text" id="brand_name" name="brand_name" value="<%=drug.brand_name%>" required>
        <br>

        Manufacturer: <input type="text" id="manufacturer" name="manufacturer" value="<%=drug.manufacturer%>" required>
        <br>

        <!-- TODO: implement a database search to select drug type -->
        Drug Type: <select type="text" id="drug_type_id" name="drug_type_id" required>
            <% for (let drugType of drugTypes) { %>
                <option value="<%=drugType.drug_type_id%>">
                    <%=drugType.drug_type_name%>
                </option>
                <%}%>
        </select>
        <br>

        <button type="submit">Update</button>
    </form>
    <form action="/system_admin/drug_type/add" method="get">
        <button type="submit">Add New Drug Type</button>
    </form>

</body>

</html>