<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<main>
    <h1>Pharmacy ID: <%= pharmacyInfo.pharmacy_id %></h1>
    <h2>Approved State : <%=pharmacyInfo.approved_state%></h2>
    <div>
        <p>Name: <%=pharmacyInfo.name%></p>
        <p>Address: <%=pharmacyInfo.address%></p>
        <p>Longitude: <%=pharmacyInfo.longitude%></p>
        <p>Latitude: <%=pharmacyInfo.latitude%></p>
        <p>Email: <%=pharmacyInfo.email%></p>
        <p>Contact No: <%=pharmacyInfo.contact_no%></p>
    </div>

</main>
</body>
</html>
